.container {
    text-align: center;
    margin-top: 300px;
    font-size: 20px;
}
h1 {
    font-size: 30px;
    text-align: center;
}
footer {
    font-size: 13px;
    padding: 20px;
}
a {
    color: blue;
    text-decoration: none;
}
a:hover {
    color: black;
    text-decoration-line: underline;
}
.voltar {
    margin-top: 100px;
    padding: 20px;
}